* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: yellowgreen;
}

img {
  max-height: 200px;
  max-width: 200px;
}

td {
  padding: 0;
}

td#resetBtnContainer, td#startBtnContainer {
  padding:0;
  border:0;
}

table#tableContainer {
  margin-top:2em;
}
#tableContainer {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  color:white;
  margin: 0 auto;
  height: 45em;
  width: 55em;
  background-image: url('http://l7.alamy.com/zooms/8221059b5010410793f628628144f0ff/blackjack-table-setup-c4w608.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 0 1px blue,
              0 0 2px blue,
              0 0 3px blue,
              0 0 4px black,
              0 0 5px black,
              0 0 20px black;
}

td#dealer,
#dealer h1,
#player h1,
td#player
  {
  margin: 0;
  padding:0;
  border:none;
}

tr#playerContainer {
  height:40em;
}

tr#buttonContainer {
  background:skyblue;
}

tr#dealerCardContainer, tr#playerCardContainer {
  height:35em;
}

table#playerHandTable, table#dealerHandTable {
  margin: 0 auto;
}

td img {
  height: 10em;
}

td #card0{
  position: absolute;
  bottom:17em;
  left:1em;
}

td #card0 img {
  height: 8em;
  transform: rotate(58deg);
}


 td #card1 {
  position:absolute;
  bottom:11em;
  left:5em;
}


td#card1 img {
  height: 10em;
  transform: rotate(39deg)

}


td #card2 {
  position:absolute;
  bottom:7em;
  left:14em;

}

td #card2 img {
  transform: rotate(23deg);
}

td #card3 {
  position: absolute;
  bottom: 6em;
  right:23em;
}


td #card4 {
  position: absolute;
  bottom:8em;
  right:12em;
}

td #card4 img {
  transform: rotate(-26deg);
}

td #card5 {
  position: absolute;
  bottom:30em;
  left:15em;
}

td #card6{
  position: absolute;
  bottom: 10em;
  left: 5em;
}

 td #card7 {
  position:absolute;
  bottom:10em;
  left:7em;
}

td #card8 {
  position:absolute;
  bottom:10em;
  left:9em;

}

td #card9 {
  position: absolute;
  bottom: 10em;
  left:11em;
}

td #card10 {
  position: absolute;
  bottom:10em;
  left:13em;
}

td #card11 {
  position: absolute;
  bottom:10em;
  left:15em;
}

td #deal0{
  position: absolute;
  bottom: 30em;
  right: 5em;
}

 td #deal1 {
  position:absolute;
  bottom:30em;
  right:7em;
}

td #deal2 {
  position:absolute;
  bottom:30em;
  right:9em;

}

td #deal3 {
  position: absolute;
  bottom: 30em;
  right:11em;
}

td #deal4 {
  position: absolute;
  bottom:30em;
  right:13em;
}

td #deal5 {
  position: absolute;
  bottom:30em;
  right:15em;
}

td #deal6{
  position: absolute;
  bottom: 10em;
  right: 5em;
}

 td #deal7 {
  position:absolute;
  bottom:10em;
  right:7em;
}



